@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500&family=Poppins:wght@700;900&display=swap');
:root {
    /* Color-scheme for site*/
    --text: #130e01;
    --background: #fffaeb;
    --primary: #ff8400;
    --secondary: #fff5d6;
    --accent: #cf4307;

    /* Fonts for site*/
    --header-font: 'Poppins';
    --body-font: 'Manrope';
    --footer-font: 'Manrope';

    /*Padding for site*/

    /* Margin for site*/
}

.container {
    max-width: 100vw;
}

/*************************************************************
  start for the open and close menu for the cart
 ************************************************************/

.cart-container {
    width: 100vw;
    max-width: 60rem;
    margin: auto;
    text-align: center;
    padding-top: 10px;
    transition: transform 0.5s;
    padding-top: 30rem;
    position: sticky;
}

.listProduct .item img {
    width: 90%;
    filter: drop-shadow(0 50px 20px #0009);
}

.listProduct {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.listProduct .item {
    background-color: #eeeee6;
    padding: 20px;
    border-radius: 20px;
}

.listProduct .item h2 {
    font-weight: 500;
    font-size: large;
}

.listProduct .item button {
    background-color: #353432;
    color: #eeeee6;
    padding: 5px 10px;
    border-radius: 20px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
}

.cartTab {
    height: 30rem;
    width: 20rem;
    background-color: #353432;
    color: #eee;
    position: fixed;
    inset: 0 -400px 0 auto;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    transition: 0.5s;
    margin-top: 5rem;
    padding: 20px 0;
}

body.showCart .cartTab {
    inset: 0 0 0 auto;
}

.cartTab h1 {
    font-size: 3rem;
    margin-top: 1rem;
    background-color: var(--primary);
    border-radius: 0.3rem;
    padding: 0.4rem;
    margin: 0.4rem;
}

.cartTab .listCart .item img {
    width: 100%;
}

.cartTab .listCart .item {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr;
    gap: 10px;
    text-align: center;
    align-items: center;
}
.listCart,
.amount,
.name {
    font-size: 1.1rem;
}
.listCart .amount span {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background-color: #eee;
    color: #555;
    border-radius: 50%;
    cursor: pointer;
}

.listCart .amount span:nth-child(2) {
    background-color: transparent;
    color: #eee;
}

.listCart .item:nth-child(even) {
    background-color: #eee1;
}

.listCart {
    overflow: auto;
}

.listCart::-webkit-scrollbar {
    width: 0;
}

.btn-input .table-num {
    width: 3.1rem;
    height: 2.2rem;
    border-radius: 0.3rem;
    background-color: var(--primary);
    color: var(--secondary);
    text-align: center;
    border: none;
}
.order {
    width: 6.1rem;
    height: 2.2rem;
    border-radius: 0.3rem;
    background-color: var(--primary);
    color: var(--secondary);
    font-weight: 600;
    border: none;
    margin-top: 0, 7rem;
}
/*************************************************************
  start for the open and close menu style code for the navbar
 ************************************************************/

.navbar {
    width: 100vw;
    font-family: var(--header-font);
    background: var(--background);
    color: var(--text);
    padding: 1rem;
    margin-bottom: 0.41rem;
}
/*home and price in header*/
.middle-a-links-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: 400;
    top: 0.5rem;
}
/*Loggan*/
.middle-a-links-nav img {
    background: var(--primary);
    border-radius: 0.3rem;
    width: 6rem;
    padding: 0.5rem;
    height: auto;
    z-index: 10;
    position: absolute;
}

.fa-xmark {
    font-size: 1.1875rem;
}
.fa-solid {
    color: var(--text);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.fa-solid:hover {
    color: var(--primary);
    cursor: pointer;
}

.menu,
.pris {
    letter-spacing: 0.1rem;
    font-size: 1.4375rem;
    text-decoration: none;
}

.pris {
    margin-right: 3rem;
}

.menu {
    margin-left: 3rem;
}

.pris:hover {
    color: var(--primary);
}
.menu:hover {
    color: var(--primary);
}

.list-style {
    display: grid;
    grid-template-columns: repeat(4, 3fr);
    gap: 1.4em;
    margin: 0.1rem;
}

.list-style li a {
    padding: 0.2rem;
    border-radius: 0.3rem;
    font-family: 'poppins';
    text-decoration: none;
    color: var(--text);
    font-size: 0.875rem;
    letter-spacing: 0.1rem;
}

.list-style li a:hover {
    transition: all 0.6s ease;
    background-color: var(--primary);
    color: var(--secondary);
}

.toggle-function-menu {
    display: none;
}
.toggle-function-menu.open {
    height: 13rem;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    border-radius: 0 0 0.625rem 0.625rem;
    border-bottom: 0.3rem solid var(--primary);
}

@media (min-width: 900px) {
    .cartTab {
        height: 45rem;
        width: 40rem;
        inset: 0 -900px 0 auto;
    }
}

@media (max-width: 431px) {
    .list-style {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin: 0 auto;
        gap: 0.5rem;
    }
}
@media (max-width: 376px) {
    .cartTab .listCart .item {
        width: 19.6rem;
        display: grid;
        grid-template-columns: 1fr 2fr 1fr 2fr;
        gap: 0.2rem;
        text-align: center;
        align-items: center;
    }

    .cartTab h1 {
        font-size: 1.5rem;
        margin-top: 1rem;
        background-color: var(--primary);
        border-radius: 0.3rem;
        padding: 0.2rem;
        margin: 0.2rem;
    }
    .cartTab {
        height: 36rem;
        width: 20rem;
    }

    .cartTab h4 {
        font-size: 1.2rem;
        margin-bottom: 0.5rem;
    }
    .list-style {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin: 0 auto;
        gap: 0.5rem;
    }
    .fa-solid {
        color: var(--text);
    }
    .middle-a-links-nav img {
        width: 4rem;
        transition: all 3s ease;
    }
    .list-style li a {
        font-size: 0.625rem;
    }
}
@media (max-width: 320px) {
    .menu,
    .pris {
        display: none;
    }
    .list-style {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 0 auto;
        gap: 0.5rem;
    }
    .fa-solid {
        font-size: 1.25rem;
    }
    .fa-xmark {
        margin-right: 5rem;
    }
    .middle-a-links-nav img {
        margin-right: 0.5rem;
    }
}
/******************************************************
  end to open and close menu style code for the navbar
 ******************************************************/
