@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500&family=Poppins:wght@700;900&display=swap');
:root {
    /* Color-scheme for site*/
    --text: #130e01;
    --background: #fffaeb;
    --primary: #ff8400;
    --secondary: #fff5d6;
    --accent: #cf4307;

    /* Fonts for site*/
    --header-font: 'Poppins';
    --body-font: 'Manrope';
    --footer-font: 'Manrope';

    /*Padding for site*/

    /* Margin for site*/
}

.body {
    background-color: var(--background);
}
.container {
    max-width: 100vw;
}

/* --------- HERO START --------- */
.hero {
    min-height: 100vh;
    display: grid;
    background-image: url('../assets/hero-background.webp');
    background-position: center;
    background-size: cover;
}
.hero-container {
    display: grid;
    place-content: center;
}
.hero-header {
    text-align: center;
    place-self: center;
    text-transform: uppercase;
    line-height: 1.2;
    display: grid;
    gap: 0.5rem;
    color: var(--background);
}
.hero-header--bold {
    font-weight: 900;
    /* font-size: 2.5rem; */
    font-size: clamp(2.5rem, 7vw, 4rem);
}
.hero-header--thin {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.2;
}
.hero-container {
    display: grid;
    text-align: center;
    gap: 2rem;
}
.hero-button {
    display: flex;
    justify-content: center;
    gap: 2rem;
}
/* --------- HERO END --------- */
/* --------- BUTTON START --------- */
.btn {
    --_backgroundColor: var(--primary, #ff8400);
    --_textColor: var(--background, #fffaeb);

    font-weight: 500;
    padding-inline: 2rem;
    padding-block: 0.6rem;
    border-radius: 50vh;
    color: var(--_textColor);
    background-color: var(--_backgroundColor);
    transition: background 0.2s ease-in-out;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
        rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.btn:hover {
    --_backgroundColor: var(--text);
}
.btn-primary {
    --_backgroundColor: var(--primary);
    --_textColor: var(--background);
}
/* --------- BUTTON END --------- */

/* --------- Om oss start -------*/

.container-om-oss {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-family: var(--header-font);
    font-weight: 600;
    padding: 25px;
    max-width: 50rem;
}
.om-oss-h2 {
    font-size: 1.5rem;
}

.container-omoss-info > h3 {
    font-size: 2.5rem;
}
.container-omoss-p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-family: var(--body-font);
}

/* ------- OM OSS END ------*/
/* ------- FOOTER STARTS ------*/

.information,
.support {
    color: var(--text);
    padding-block: 2rem;
    font-family: var(--body-font);
    line-height: 2rem;
    max-width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.offerings {
    padding-inline: 2rem;
    gap: 3rem;
    display: flex;
    justify-content: center;
    flex-direction: row;
    letter-spacing: 0.1rem;
    font-family: var(--footer-font);
}
.some {
    display: flex;
    justify-content: center;
}
.instagram,
.facebook {
    height: 3rem;
    width: 3rem;
}

/* ------- FOOTER ENDS ------ */

/* CSS for menu site -- Alvin */

.temporary-navbar {
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
}

.menu {
    background-color: var(--background);
    color: var(--text);
    font-family: var(--body-font);
}

.menu-header-each-section {
    background-color: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.2rem;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.menu-cards-container {
    margin-inline: 0.5rem;
    display: grid;
    border-radius: 0.2rem;
    grid-template-columns: 1fr;
    gap: 1rem;
}

.menu-card {
    background-color: var(--secondary);
    padding: 0.5rem;
    position: relative;
}
.bbq-menu-card > img {
    border-radius: 1rem;
    object-fit: cover;
}
.btn-add-to-cart {
    width: 6rem;
    height: 2rem;
    background-color: var(--primary);
    border: none;
    border-radius: 0.3rem;
    position: absolute;
    bottom: 1.5rem;
    right: 1.5rem;
}
