@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500&family=Poppins:wght@700;900&display=swap');
:root {
    /* Color-scheme for site*/
    --text: #130e01;
    --background: #fffaeb;
    --primary: #ff8400;
    --secondary: #fff5d6;
    --accent: #cf4307;

    /* Fonts for site*/
    --header-font: 'Poppins';
    --body-font: 'Manrope';
    --footer-font: 'Manrope';

    /*Padding for site*/

    /* Margin for site*/
}

.container {
    max-width: 100vw;
}


body {
	box-sizing: border-box;
	list-style-type:none ;	
}

/*************************************************************
  start for the open and close menu style code for the navbar
 ************************************************************/

.navbar {
    width: 100vw;
    font-family:'Poppins';
	background: var(--background);
	color: var(--text);
    padding: 1rem;
	margin-bottom: 0.41rem;
   
}

.middle-a-links-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
	font-weight: 400;
	top: 0.5rem;
	
}
.middle-a-links-nav img {
    background: var(--primary);
    border-radius: 0.3rem;
    width: 6rem;
    padding: 0.5rem;
    height: auto;
    z-index: 100;
    position: absolute;
}

.fa-xmark {
	font-size: 19px;
}
.fa-solid {
    color: var(--text);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
  .fa-solid:hover {
  color: orange;
  cursor: pointer;
}
 
  .bg-for-nav-under {
	height: 9.5rem;
	background-color: var(--primary);
	z-index: -1;
}

  .menu, .pris  {
	letter-spacing: 0.1rem;
	font-size: 23px;
	text-decoration: none;
}

.pris {
	margin-right: 3rem;
}

.menu {
	margin-left: 3rem;
}

  .pris:hover {
	color: orange;
}
  .menu:hover {
	color: orange;
}

  .list-style li a{
    font-family: "poppins";
	text-decoration: none;
	color: var(--text);
	font-size: 14px;
	letter-spacing: 0.1rem;	
}

   .list-style li a:hover {
	transition: all 0.6s ease;
	--background: var(--primary);
	--text: var(--accent);
}

  .toggle-function-menu{
	display: none;

}
  .toggle-function-menu.open {
	margin-top:1rem 0 0 1rem;
	height: 15rem;
	--text: #130e01;
	--background: #fffaeb;;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
	z-index: 10;
	border-radius: 0 0 10px 10px;
	border-bottom: 5px solid var(--primary);
    
  }

  @media (max-width: 375px) {
	.menu, .pris {
		display: none;
	}

    .fa-solid {
        color: var(--text);
    }

	.middle-a-links-nav img {
		width: 4rem;	
		transition: all 3s ease;
	} 

    .list-style li a {
        font-size: 10px;
    }
  }

  /******************************************************
  end to open and close menu style code for the navbar
 ******************************************************/	